@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Young+Serif&display=swap');

:root {


    --font-family-base: "Neue Montreal";
    --nav-font-size-base: 14px;
    --nav-font-size-x: 16px;
    --nav-font-weight: 540;
    --search-border: #E4EBE4;
    --nav-bar-text-color: #021202;
    --up-green: #14a800;
    --up-green-dark: #3c8224;
    --brand-green: #108a00;
    --h1-size: 70px;
    --h1-font-weight: 500;
}
body{    
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font-family-base), "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

nav {
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: #fff;
}

.nav-line1 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    font-size: var(--nav-font-size-base);
    font-weight: var(--nav-font-weight);
}

.logo {
    width: 7%;
}

.logo>img {
    width: 100%;
}

.nav-items {
    width: 92%;
    display: flex;
    margin-left: 20px;

}

.nav-items-list {
    display: flex;
    width: 45%;
    justify-content: left;
    align-items: center;
}

.nav-items-list li a {
    padding: 10px;
    color: var(--nav-bar-text-color);
}

.nav-items-list li a:hover {
    color: var(--up-green);
}

.signed {
    display: flex;
    width: 55%;
    justify-content: space-evenly;
    align-items: center;
}

.search-bar {
    border: 3px solid var(--search-border);
    border-radius: 50px;
    height: 40px;
    display: flex;
    align-items: center;
}

.search-bar:hover {
    background-color: var(--search-border);
}

.search {
    height: 40px;
    display: flex;
    align-items: center;
}

.search>i {
    font-size: 1.2rem;
    margin-left: 8px;
    width: 30px;
}

.search>input {
    padding: 1px 0 0 4px;
    font-size: 18px;
    height: 34px;
    border-radius: 50px;

}

.search>input:focus {
    outline: none;
    border: 1px solid transparent;
}

.search-bar input,
button {
    border: none;
}

.search-bar>button {
    border-radius: 50px;
    padding: 10px 24px ;
    background-color: transparent;
}

.search-bar>button:hover {
    cursor: pointer;
    background-color: var(--search-border);

}

.signed>a {
    padding: 0 24px;
    color: var(--nav-bar-text-color);
}

.signed>button {
    background-color: var(--brand-green);
    padding: 10px 24px;
    border-radius: 50px;
    color: #fff;
    font-size: var(--nav-font-size-x);
}

.signed>button:hover {
    background-color: var(--up-green);
    cursor: pointer;
}

.hr1 {
    opacity: .5;
    background-color:gray;
    height:.8px;
    margin: 0;
}

.nav-list {
    display: flex;
    padding: 12px 24px 12px 16px;
    font-size: var(--nav-font-size-base);
}

.nav-list>li {
    padding: 10px;
}

.nav-list>li:hover {
    color: var(--up-green);
    text-decoration: underline;
    cursor: pointer;
}

main {
    padding: 0 65px;
}

/* HERO-SECTION */

.hero-section {
    display: flex;
    width: 100%;
    position: relative;
    top: 130px;
    /* align-items: center; */
    justify-content: center;

}

.hero-section-text {
    width: 55%;
}

.hero-section-text>h1 {
    font-size: var(--h1-size);
    color: var(--up-green);
    letter-spacing: -2px;
    font-family: 'Merriweather', serif;
    font-weight: var(--h1-font-weight);
    margin: 30px 0 10px;
}

.para {
    color: #5e6d55;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: .24px;
    margin-bottom: 30px;
    font-weight: var(--nav-font-weight);
}

.hero-section-text>button {
    font-size: var(--nav-font-size-x);
    padding: 12px 24px;
    color: #fff;
    background-color: var(--brand-green);
    border-radius: 50px;
}

.hero-section-text>button:hover {
    background-color: var(--up-green);
}

.hero-section-img {
    width: 45%;
}

.hero-section-img>img {
    width: 440px;

}

.Company-logo {
    margin: 96px 6px;
}

.Company-logo>p {
    color: #9aaa97;
    margin-bottom: 12px;
    font-size: var(--nav-font-size-x);
    font-weight: var(--nav-font-weight);
}

.comp-logo {
    display: flex;
    width: 28%;
    justify-content: space-between;
}

.comp-logo>img {
    height: 40px;
}

.how-to-hire {
    display: flex;
    margin-bottom: 64px;
}

.how-to-hire-video {
    width: 42%;
}

.how-to-hire-detail {
    width: 58%;

}

.how-to-hire-heading {
    font-size: 40px;
    font-family: 'Merriweather', serif;
    margin-bottom: 16px;
    letter-spacing: -2px;
}

.how-to-hire-list {
    display: flex;
    margin-bottom: 24px;
    font-size: 20px;

}

.how-to-hire-icon {
    width: 7%;
}

.how-to-hire-list-head-subtitle {
    width: 90%;
    justify-content: center;
}

.how-to-hire-list-heading {
    font-size: 20px;
    font-weight: 500;
}

.how-to-hire-list-subtitle {
    font-size: 14px;
    margin-top: 4px;

}

.how-to-hire-btn {
    cursor: pointer;
}

.how-to-hire-btn1 {
    background-color: var(--brand-green);
    color: #fff;
    margin-right: 16px;
    padding: 12px 24px;
    border-radius: 50px;
    border: 2px solid var(--up-green);
    font-size: var(--nav-font-size-x);
    font-weight: 500;
}

.how-to-hire-btn1:hover {
    background-color: var(--up-green);
    cursor: pointer;
}

.how-to-hire-btn2 {
    background-color: #fff;
    color: var(--up-green);
    margin-right: 16px;
    padding: 12px 24px;
    border-radius: 50px;
    border: 2px solid var(--up-green);
    font-size: var(--nav-font-size-x);
    font-weight: 500;

}

.categories-pills-heading>h1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    letter-spacing: .2px;
    font-weight: 450;
    margin: 1px 0 10px;
}

.categories-pills-heading>p {
    color: #5e6d55;
    margin-bottom: 80px;
}

.categories-pills-heading>p>a {
    color: var(--brand-green);
    text-decoration: underline;
}

.categories-pills-tiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 32px;
    row-gap: 15px;
}

.category-tile {
    padding: 20px 20px 55px;
    background-color: #f5f8f5;
    border-radius: 8px;
}

.category-tile:hover {
    background-color: #E4EBE4;
    cursor: pointer;
}

.category-pill-title {
    font-size: 23px;
    font-weight: 510;
}

.category-pill-detail {
    padding-top: 10px;
}

.category-pill-detail>i {
    color: var(--up-green);
}

.category-pill-detail>.rating {
    margin-right: 40px;
    color: #5e6d55;
    font-weight: 520;
}

.category-pill-detail>span {
    color: #5e6d55;
    font-weight: 520;
}

.banner {
    margin-top: 64px;
    border-radius: 8px;
    height: 535px;
    display: flex;
    background-color: #13544E;
    justify-content: space-between;
}

.banner-text {
    width: 60%;
    padding: 35px 45px 35px 35px;
    color: #fff;
}

.enterprise-headline {
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: 520;
}

.enterprise-heading {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1;
}

.enterprise-heading>.heading {
    font-family: 'Merriweather', serif;
}

.enterprise-heading>.green-heading {
    font-family: 'Merriweather', serif;
    color: #91E6B3;
    line-height: 1.2;
}

.enterprise-subtitle {
    font-size: 18px;
    font-weight: 450;
}

.enterprise-description {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 450;
    display: flex;
}

.enterprise-description>img {
    width: 3.4%;
    color: #91E6B3;
}

.enterprise-description>p {
    width: 90%;
    padding-left: 12px;
}

.enterprise-btn {
    font-size: var(--nav-font-size-x);
    background-color: #fff;
    color: #13544E;
    border-radius: 50px;
    padding: 10px 24px;
    margin: 20px 0;
    font-weight: 450;
}

.banner-img {
    width: 37%;
    background-image: url("./img/enterprise-2023\ 1.webp");
    background-size: cover;
    border-radius: 8px;
}

.banner2 {
    height: 616px;
    background-image: url("./img/find-talent-2x.jpg");
    margin-top: 50px;
    border-radius: 8px;
}

.banner2-text {
    width: 45%;
    padding: 30px;
    color: #fff;
}

.banner2-headline {
    font-size: 22px;
    font-weight: 520;
    margin-bottom: 100px;
}

.banner2-heading {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 72px;
    margin-bottom: 30px;
    line-height: 1;
}

.banner2-subtitle {
    font-family: 18px;
    margin-bottom: 20px;
    line-height: 1.3;
    font-weight: 450;
    letter-spacing: 1px;
}

.banner2-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.btn-section1 {
    width: 30%;
    background-color: var(--brand-green);
    border-radius: 8px;
    padding: 16px;
}

.btn-heading {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #fff;
    letter-spacing: -.5px;
    line-height: 1;
}

.btn-para {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.btn-para>sup {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
}

.btn-para>i {
    color: #fff;
    font-weight: 400;
    font-size: 1.2rem;
    margin-left: 4px;
}

.btn-section1:hover {
    cursor: pointer;
    background-color: #fff;
    color: var(--brand-green);
}

.btn-section1:hover .btn-heading {
    cursor: pointer;
    background-color: #fff;
    color: var(--brand-green);
}

.btn-section1:hover .btn-para {
    cursor: pointer;
    background-color: #fff;
    color: var(--brand-green);
}


.banner3{
    height: 556px;
}
.banner3-text-section {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.banner3-text-section1 {
    width: 62%;
    background-color: #f5f8f5;
    border-radius: 8px;
}

.banner3-heading {
    margin: 30px 0 30px 30px;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    letter-spacing: -2px;
}

.banner3-description {
    display: flex;
    width: 67%;
}

.banner3-text-section1>.banner3-description>i{
     font-size: 1.5rem;
     margin: 8px 10px 0 0;
}

 .banner3-description >i {
    margin: 5px 12px 0 0;
    font-size: 2.8rem;

}

.description-heading {
    margin-bottom: 10px;
    font-size: 35px;
}

.banner3-subtitle>p {
    margin: 0 30px 30px 0;
    color: #5E6D55;
    font-size: 16px;
}

.banner3-text-section2 {
    width: 35%;
    background-color: var(--up-green);
    border-radius: 8px;
    padding: 230px 20px 40px;
    color: #fff;
}

.banner3-section2-subtitle {
    font-size: 33px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 10px;
}


.banner3-section2-description {
    display: flex;
    margin-left: 10px;
    width: 80%;
}

.banner3-deccription-subtitle {
    font-size: 16px;
    margin: 0 6px 10px 0;
}

.banner3-deccription-subtitle>p {
    margin-bottom: 8px;
    font-size: 33px;
    font-weight: 500;
    color: #fff;
    width: 100%;
}

.banner3-img {
    position: relative;
    top: -650px;
    left: 470px;
}

.banner3-img>img {
    width: 30%;
    z-index: 2;
}

.banner4{
    position: relative;
    top: 70px;
    display: flex;
    margin: 70px 0;    
    width: 100%;
}

.banner4-img{
    width: 45%;
    background-image: url("./img/find-great-work@2x.webp") ;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-size: cover;
    
}

.banner4-text-section{
    width: 55%;
    background-color: #1F57C3;
    color: #fff;
    padding: 30px;
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px;   
}

.banner4-subtitle{
    font-size: 24px;
    margin-bottom: 30px;
}

.banner4-heading{
    margin-bottom: 35px;
    font-size: 72px;
    font-family: 'Merriweather', serif;
    line-height: 1.2;
}

.banner4-description{
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 400;
}

hr{
    height: 1.5px;
    background-color: #fff;
    border: none;
    margin: 18px 0;
}

.for-talent-description{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.for-talent-description > span{
    margin: 0 15px 20px 0;
    font-size: 18px;
    font-weight: -100;
    width: 28%;
    letter-spacing: -1px;
    line-height: 1.5;
}

.banner4-btn{
    background-color: #fff;
    color: #1F57C3;
    border-radius: 50px;
    padding: 12px 24px;
    font-weight: 545;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ukraine-help-banner{
    margin-top: 50px;
    padding: 32px;
    display: flex;
    width: 100%;
    position: relative;
    top: 150px;
    background-color: #F7FAF7;
    border-radius: 8px;
    
    margin: 50px 0;

}

.ukraine-help-text{
    width: 82%;
}
.ukraine-help-heading{
    font-family: 'Merriweather', serif;
    font-size: 38px;
    margin-bottom: 8px;
    
}

.ukraine-help-description{
    margin-bottom: 9px;
    font-size: 18px;
    color: #5E6D55;
    font-weight: 500;
}

.ukarine-help-btn{
    font-size: 16px;
    color: var(--brand-green);
    border: 2px solid var(--brand-green);
    border-radius: 50px;
    padding: 8px 24px;
    margin-top: 20px;
}
.ukarine-help-btn:hover{
    cursor: pointer;
}
.ukraine-help-img{
    width: 18%;
}

.ukraine-help-img > img{
    width: 100%;
}

.top-skills{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50px;
    margin: 150px 0;
}

.heading-top{
    color: var(--up-green);
}

.topskill-heading{
color:  #bcc5b8;
font-size: 40px;
margin-bottom: 15px;
font-weight: 520;
}
.skill-heading:hover{
    color:  var(--up-green);
    cursor: pointer;   
}
.skills-list{
    margin-right: 70px;
}

.skills-list > li{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
    color: #5e6d55;
   
}
.skills-list > li:hover{
    color: var(--up-green);
    cursor: pointer;
}


/* Footer Section */

footer{
    background-color: #001e00;
    margin: 0 24px 24px;
    border-radius: 8px;
    color: #fff;
    padding: 96px 64px;

}

.footer-lists{
    display: flex;
    justify-content: space-between;
    padding: 0 0 40px 0;
}

.footer-list > li{
    padding-top: 16px ;
    font-size: 14px;
}

.footer-list>li>a:hover{
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
}
.footer-social-media-handels{
    display: flex;
    width: 100%;
}

.social-media-handel-section1{
    display: flex;
    width: 70%;
}

.social-media-handel-section1 >p{
    font-weight: 550;
    font-weight: 14px;
    margin-top: 12px;
    margin-right: 10px;
}

.social-media-handel-section1 a {
   color: #fff;
   padding: 8px;
   border-radius: 50%;
   border: 1px solid #fff;
   align-items: center;
   margin-right: 8px;
}

.social-media-handel-section1 a:hover {
    background-color: #9AAA97;
 }

.social-media-handel-section1 a i {
    font-size: 1.5rem;
 }

.social-media-handel-section2{
    display: flex;
    width: 30%;
    justify-content: end;
}

.social-media-handel-section2 >p{
    font-weight: 550;
    font-weight: 14px;
    margin-top: 12px;
    margin-right: 10px;
}

.social-media-handel-section2 a {
   color: #fff;
   padding: 8px;
   border-radius: 50%;
   border: 1px solid #fff;
   align-items: center;
   margin-right: 8px;
}

.social-media-handel-section2 a:hover {
    background-color: #9AAA97;
 }

 .social-media-handel-section2 a i {
    font-size: 1.5rem;
 }

 .footer-hr{
    border: none;
    height: .5px;
    background-color: #fff;
    margin: 24px 0;
}

 .copyright-section{
    display: flex;
 }

 .copyright-section > p{
    margin-right: 50px;
    font-weight: 500;
    align-items: center;
 }

 .copyright-section > p >sup{
   font-size: 8px;
   border: .5px solid white;
   border-radius: 50%;
   padding: 1px;
 }

 .copyright-list{
    display: flex;
    align-items: center;
   
 }

 .copyright-list > li{
    margin-right: 14px;
    font-weight: 300;
    font-size: 14px;
 }

 .copyright-list > li:hover{
   text-decoration: underline;
   text-underline-offset: 2px;
 }